.estadistica--perfil {
    display: flex;
    width: 50%;
    height: 90px;
    padding-top: 15px;
    margin: 0 auto;
    justify-content: space-around;
    @include caja;

    h3 {
        font-weight: 700;
        text-align: center;
        @include titulos($fuente2);
        font-size: 25px;
    }
    span {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        @include titulos($fuente2);
        color: get-opacity($color-primario, .50);
    }
}