.galeria {
    width: 50%;
    height: 250px;
    margin: 10px auto;
    padding: 20px;
    justify-content: space-evenly;
    @include caja;
    &__foto-principal {
        height: 150px;
        float: left;
    }
    &__fotos-adicionales img {
        
        height: 75px;

        margin-left: 10px;
    }
    h2 {
        margin-bottom: 10px;
        font-weight: 600;
        @include titulos($fuente2);
    }
    img {
        border-radius: 10px;
    }
}