.perfil {
    width: 50%;
    padding-top: 50px;
    color: $color-secundario;
    background-color: $color-claro;
    &__avatar {
        display: block;
        margin: 0 auto;
        border-radius: 30%;
    }
    &__nombre {
        text-align: center;
        @include titulos($fuente2);
    }
    &__titulo {
        @include titulos($fuente2);
        text-align: center;
        font-weight: 500;
        color: get-opacity($color-variacion, .50);
    }
    &__boton {
        display: flex;
        width: 100px;
        height: 40px;
        margin: 15px auto;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        text-decoration: none;
        @include titulos($fuente2);
        color: $color-claro;
        background-color: $color-primario;
    }
}

.perfil__minibio {
    margin: 0 auto;
    padding-top: 20px;
    h2 {
        @extend .perfil__nombre;
    }
    h3 {
        @extend .perfil__titulo;
    }
}