doctype html 
html 
    head 
        meta(charset="UTF-8")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
    body 
        header 
            h1 PlatziGames 
            a.boton Registro
        section.intro 
            .intro__imagen: img(src="./images/imagen.png", alt="")
            .intro__contenido 
                h2 Titulo Principal 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eos molestiae magni hic sapiente nemo consequatur autem necessitatibus illum veritatis nam in ratione.
                    span Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                a.boton Leer Mas