-var titulo = "Titulo Principal"
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = "David"
doctype html 
html 
    head 
        meta(charset="UTF-8")
        link(rel="stylesheet", href="css/ejercicio-pug.css")
    body 
        header 
            h1 PlatziGames 
            if usuario 
                a Hola #{usuario}
            else  
                a.boton Registro
        section.intro 
            .intro__imagen: img(src="./images/imagen.png", alt="")
            .intro__contenido 
                h2 #{titulos[0][0]}   
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eos molestiae magni hic sapiente nemo consequatur autem necessitatibus illum veritatis nam in ratione.
                    span Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                a.boton Leer Mas
        ul 
            each titulo in titulos 
                li=titulo 