extend componentes/plantilla.pug
block contenidos
        section.intro 
            .intro__imagen: img(src="./images/imagen.png", alt="")
            .intro__contenido 
                h2 #{titulos[0][0]}   
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eos molestiae magni hic sapiente nemo consequatur autem necessitatibus illum veritatis nam in ratione.
                    span Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                a.boton Leer Mas
        main.contenido
            +caja("imagen.png",titulos[1],"Lorem ipsum dolor sit amet") 
            +caja("imagen.png",titulos[2],"Lorem ipsum dolor sit amet") 
            +caja("imagen.png",titulos[3],"Lorem ipsum dolor sit amet")