extend components/template.pug 
block contents
    main
        h2 TITULO PRINCIPAL 
        p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, aspernatur quaerat. Vel, hic mollitia doloribus perferendis quae molestias tempora iusto dolores ducimus architecto recusandae fugit itaque suscipit consequatur quia cum?
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam maxime aut asperiores incidunt modi animi inventore non optio doloribus maiores explicabo saepe suscipit ab alias sed, consectetur blanditiis recusandae veniam?
        a.button VER MAS