include settings.pug
doctype html 
html 
    include head.pug 
    body 
        include header.pug 
        section 
            include sidebar.pug 
            block contents
        include footer.pug 